<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />

	<logger name="org.springframework.web" level="INFO" />
	<logger name="org.springboot.sample" level="TRACE" />
	<property name="log.pattern" value="%date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35}.%method: %msg%n" />
	<springProperty scope="context" name="app" source="spring.application.name" defaultValue="spring-boot-fusion" />
	<property name="log.path" value="/tmp" />

	<appender name="siftingAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>userId</key>
			<defaultValue>unknown</defaultValue>
		</discriminator>
		<sift>
			<appender name="${userId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${log.path}/${userId}.%d{yyyy-MM-dd}.log</fileNamePattern>
				</rollingPolicy>
				<encoder>
					<pattern>${log.pattern}</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>
	<springProfile name="prod">
		<appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
			<destination>172.18.200.10:4567</destination>
			<keepAliveDuration>5 minutes</keepAliveDuration>
			<reconnectionDelay>3 second</reconnectionDelay>
			<writeBufferSize>8192</writeBufferSize>
			<includeCallerData>true</includeCallerData>
			<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<shortenedLoggerNameLength>36</shortenedLoggerNameLength>
				<timestampPattern>yyyy-MM-dd HH:mm:ss.Asia/Shanghai</timestampPattern>
				<timeZone>Asia/Shanghai</timeZone>

				<fieldNames>
					<timestamp>@timestamp</timestamp>
					<version>@version</version>
					<message>message</message>
					<logger>logger_name</logger>
					<!-- <thread>thread_name</thread> -->
					<level>level</level>
					<thread>[ignore]</thread>
					<levelValue>[ignore]</levelValue>
				</fieldNames>
			</encoder>
			<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
				<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
					<marker>finance</marker>
					<marker>market</marker>
					<marker>customer</marker>
				</evaluator>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
		</appender>
	</springProfile>
	<springProfile name="fluentd">
		<property name="FLUENTD_HOST" value="172.18.200.10" />
		<property name="FLUENTD_HOST1" value="${FLUENTD_HOST:-${DOCKER_HOST:-localhost}}" />
		<property name="FLUENTD_PORT" value="${FLUENTD_PORT:-24224}" />
		<appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender">
			<tag>test</tag>
			<label>normal</label>
			<remoteHost>${FLUENTD_HOST}</remoteHost>
			<port>${FLUENTD_PORT}</port>
			<maxQueueSize>20</maxQueueSize>
		</appender>
		<logger name="fluentd" level="debug" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
			<appender-ref ref="FLUENT" />
		</logger>
	</springProfile>

	<root level="info">
		<springProfile name="dev">
			<appender-ref ref="CONSOLE" />
		</springProfile>
		<springProfile name="test">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</springProfile>
		<springProfile name="prod">
			<appender-ref ref="CONSOLE" />
			<!-- <appender-ref ref="FLUENT" /> -->
			<appender-ref ref="logstash" />
		</springProfile>
		<!-- <springProfile name="fluentd"> <appender-ref ref="CONSOLE" /> <appender-ref ref="FLUENT" /> </springProfile> -->
	</root>
</configuration>